.section__intro {
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
}

.section__price {
  width: 100%;
  height: 100vh;
  background-color: lightcoral;
}

.section__review {
  width: 100%;
  height: 100vh;
  background-color: lightsalmon;
}